.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}
.headerOption > h3{
    font-size: 12px;
    font-weight: 400;
}
.headerOption > .MuiSvgIcon-root{
    font-size: 20px;
}
.headerOption:hover{
    color: black;
}
.headerOption > .MuiSvgIcon-root:hover{
    color: black;
    background-color: #ebebeb;
    border-radius: 50%;
}


